.profileContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0%;
    max-width: 100%;
    background-color: white;
}

.profileContainer > div {
    display: flex;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileContainer > div:first-child > h1 {
    color: rgba(0, 0, 0, 0.555);
    font: 500 2.2vmax "Roboto";
    transform: translateX(-10vmax) translateY(-2vmax);
}

.profileContainer > div:first-child > img {
    width: 20vmax;
    border-radius: 100%;
    transition: all 0.5s;
}

.profileContainer > div:first-child > img:hover {
    transform: scale(1.05);
}
.profileContainer > div:first-child > a {
    border: none;
    background-color: tomato;
    font: 400 1vmax "Roboto";
    width: 30%;
    color: white;
    padding: 0.5vmax;
    margin: 4vmax;
    text-decoration: none;
    text-align: center;
    transform: all 0.5s;
}

.profileContainer > div:first-child > a:hover {
    background-color: rgba(204, 78, 56);
}

.profileContainer > div:last-child > a:hover {
    justify-content: space-evenly;
}
